body {
  background-color: #505357;
}

.cardInfo {
  background-color: lightblue;
  margin: 10px;
}

.mlb {
  background-color: #a1aec0;
}

.navbar {
  color: #000000;
  font-weight: 750;
  margin-bottom: 25px;
  padding-bottom: 10px;
}

.search {
  padding-bottom: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.angels {
  background-color: #003263;
  border-color: #ba0021;
  color: #ffffff;
}

.astros {
  background-color: #002d62;
  border-color: #eb6e1f;
  color: #f4911e;
}

.athletics {
  background-color: #003831;
  border-color: #a2aaad;
  color: #efb21e;
}

.blue-jays {
  background-color: #006ba6;
  border-color: #da291c;
  color: #b1b3b3;
}

.braves {
  background-color: #002855;
  border-color: #ce1141;
  color: #ffffff;
}

.brewers {
  background-color: #13294B;
  color: #85714D
}

.cardinals {
  background-color: #C41E3A;
  border: #FEDB00;
  color: #0C2340
}

.cubs {
  background-color: #0e3386;
  border-color: #cc3433;
  color: #FFFFFF;
}

.devil-rays {
  background-color: #092c5c;
  border-color: #8FBCE6;
  color: #FFFFFF;
}

.diamondbacks {
  background-color: #A71930;
  border-color: #000000;
  color: #E3D4AD;
}

.dodgers {
  background-color: #005a9c;
  border-color: #EF3E42;
  color: #A5ACAF;
}

.expos {
  background-color: #14225A;
  border-color: #AB0003;
  color: #FFFFFF;
}

.giants {
  background-color: #FD5A1E;
  border-color: #27251F;
  color: #EFD19F;
}

.indians {
  background-color: #0C2340;
  border-color: #E31937;
  color: #FFFFFF;
}

.mariners {
  background-color: #0c2c56;
  border-color: #005C5C;
  color: #C4CED4;
}

.marlins {
  background-color: #009ca6;
  border-color: #8A8D8F;
  color: #27251F
}

.mets {
  background-color: #002d72;
  border-color: #FF5910;
  color: #FFFFFF;
}

.orioles {
  background-color: #000000;
  border-color: #DF4601;
  color: #FFFFFF;
}

.padres {
  background-color: #041E42;
  border-color: #E35205;
  color: #FFFFFF;
}

.phillies {
  background-color: #284898;
  border-color: #E81828;
  color: #FFFFFF;
}

.pirates {
  background-color: #27251F;
  border-color: #E4002B;
  color: #FFC72C
}

.rangers {
  background-color: #002D72;
  border-color: #BA0C2F;
  color: #FFFFFF;
}

.red-sox {
  background-color: #0d2b56;
  border-color: #BD3039;
  color: #FFFFFF;
}

.reds {
  background-color: #C6011F;
  border-color: #000000;
  color: #FFFFFF;
}

.rockies {
  background-color: #24135F;
  border-color: #8A8D8F;
  color: #8A8D8F;
}

.royals {
  background-color: #004687;
  border-color: #BD9B60;
  color: #FFFFFF;
}

.tigers {
  background-color: #0C2340;
  border-color: #FA4616;
  color: #FA4616;
}

.twins {
  background-color: #0C2340;
  border-color: #BA0C2F;
  color: #FFFFFF
}

.white-sox {
  background-color: #27251F;
  border-color: #C4CED4;
  color: #C4CED4
}

.yankees {
  background-color: #003087;
  border-color: #E4002C;
  color: #FFFFFF;
}
