body {
  background-color: #f5f5f5;
}

.cardInfo {
  background-color: lightblue;
  margin: 10px;
}

.mlb {
  background-color: #f5f5f5;
}

.navbar {
  background-color: #1b1f3b;
  border: 5px;
  border-color: #ff1654;
  color: #f5f5f5;
  font-weight: 750;
  margin-bottom: 25px;
  padding-bottom: 10px;
}

.search {
  padding-bottom: 15px;
  margin-left: 25px;
  margin-right: 25px;
}
.navbar-light .navbar-brand {
  color: #ff1654;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.angels {
  background-color: #003263;
  border-color: #ba0021;
  color: #ffffff;
}

.astros {
  background-color: #002d62;
  border-color: #eb6e1f;
  color: #f4911e;
}

.athletics {
  background-color: #003831;
  border-color: #a2aaad;
  color: #efb21e;
}

.blue-jays {
  background-color: #006ba6;
  border-color: #da291c;
  color: #b1b3b3;
}

.braves {
  background-color: #002855;
  border-color: #ce1141;
  color: #ffffff;
}

.brewers {
  background-color: #13294b;
  color: #85714d;
}

.cardinals {
  background-color: #c41e3a;
  border: #fedb00;
  color: #0c2340;
}

.cubs {
  background-color: #0e3386;
  border-color: #cc3433;
  color: #ffffff;
}

.devil-rays {
  background-color: #092c5c;
  border-color: #8fbce6;
  color: #ffffff;
}

.diamondbacks {
  background-color: #a71930;
  border-color: #000000;
  color: #e3d4ad;
}

.dodgers {
  background-color: #005a9c;
  border-color: #ef3e42;
  color: #a5acaf;
}

.expos {
  background-color: #14225a;
  border-color: #ab0003;
  color: #ffffff;
}

.giants {
  background-color: #fd5a1e;
  border-color: #27251f;
  color: #efd19f;
}

.indians {
  background-color: #0c2340;
  border-color: #e31937;
  color: #ffffff;
}

.mariners {
  background-color: #0c2c56;
  border-color: #005c5c;
  color: #c4ced4;
}

.marlins {
  background-color: #009ca6;
  border-color: #8a8d8f;
  color: #27251f;
}

.mets {
  background-color: #002d72;
  border-color: #ff5910;
  color: #ffffff;
}

.orioles {
  background-color: #000000;
  border-color: #df4601;
  color: #ffffff;
}

.padres {
  background-color: #041e42;
  border-color: #e35205;
  color: #ffffff;
}

.phillies {
  background-color: #284898;
  border-color: #e81828;
  color: #ffffff;
}

.pirates {
  background-color: #27251f;
  border-color: #e4002b;
  color: #ffc72c;
}

.rangers {
  background-color: #002d72;
  border-color: #ba0c2f;
  color: #ffffff;
}

.red-sox {
  background-color: #0d2b56;
  border-color: #bd3039;
  color: #ffffff;
}

.reds {
  background-color: #c6011f;
  border-color: #000000;
  color: #ffffff;
}

.rockies {
  background-color: #24135f;
  border-color: #8a8d8f;
  color: #8a8d8f;
}

.royals {
  background-color: #004687;
  border-color: #bd9b60;
  color: #ffffff;
}

.tigers {
  background-color: #0c2340;
  border-color: #fa4616;
  color: #fa4616;
}

.twins {
  background-color: #0c2340;
  border-color: #ba0c2f;
  color: #ffffff;
}

.white-sox {
  background-color: #27251f;
  border-color: #c4ced4;
  color: #c4ced4;
}

.yankees {
  background-color: #003087;
  border-color: #e4002c;
  color: #ffffff;
}
