body {
  background-color: #505357;
}

.cardInfo {
  background-color: lightblue;
  margin: 10px;
}

.mlb {
  background-color: #a1aec0;
}

.navbar {
  color: #000000;
  font-weight: 750;
  margin-bottom: 25px;
  padding-bottom: 10px;
}

.search {
  padding-bottom: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.angels {
  background-color: #003263;
  border-color: #ba0021;
  color: #ffffff;
}

.astros {
  background-color: #002d62;
  border-color: #eb6e1f;
  color: #f4911e;
}

.athletics {
  background-color: #003831;
  border-color: #a2aaad;
  color: #efb21e;
}

.blue-jays {
  background-color: #006ba6;
  border-color: #da291c;
  color: #b1b3b3;
}

.braves {
  background-color: #002855;
  border-color: #ce1141;
  color: #ffffff;
}

.brewers {
  background-color: #13294B;
  color: #85714D
}

.cardinals {
  background-color: #C41E3A;
  border: #FEDB00;
  color: #0C2340
}

.cubs {
  background-color: #0e3386;
  border-color: #cc3433;
  color: #FFFFFF;
}

.devil-rays {
  background-color: #092c5c;
  border-color: #8FBCE6;
  color: #FFFFFF;
}

.diamondbacks {
  background-color: #005F61;
  border-color: #5F259F;
  color: #F2E9EA;
}

.dodgers {
  background-color: #005a9c;
}

.expos {
  background-color: #003087;
}

.giants {
  background-color: #000000;
}

.indians {
  background-color: #002b5c;
}

.mariners {
  background-color: #0c2c56;
}

.marlins {
  background-color: #009ca6;
}

.mets {
  background-color: #002d72;
}

.orioles {
  background-color: #000000;
}

.padres {
  background-color: #002d62;
}

.phillies {
  background-color: #284898;
}

.pirates {
  background-color: #000000;
}

.rangers {
  background-color: #003278;
}

.red-sox {
  background-color: #0d2b56;
}

.reds {
  background-color: #000000;
}

.rockies {
  background-color: #333366;
}

.royals {
  background-color: #004687;
}

.tigers {
  background-color: #0c2c56;
}

.twins {
  background-color: #002b5c;
}

.white-sox {
  background-color: #000000;
}

.yankees {
  background-color: #003087;
}
